.jumbotron {
  color:white;
  background-color: darkslateblue;
}

/* word cloud image */
/* vertical horizontal */
.wc-img {
  padding: 1em .5em;
}

.img-save {
  text-align: center;
  margin: 1em auto;
}
