{% extends "nube/base.html" %}

{% block content %}

<form action="{% url 'nube:create' %}" method="post">
{% csrf_token %}
<div class="jumbotron">
  <h1>Welcome to Phuyu</h1>
  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
  <div class="form-group">
  <input type="text" class="form-control" autofocus name="uri" placeholder="Enter the URL of a plaintext file..."/>
  </div>
  <!--must be outside form-group so it's not sticking to the form"-->
  <input type="submit" class="btn btn-success btn-lg" value="Create Word Cloud"/>
</div>
</form>
{% endblock content %}
