{% extends "nube/base.html" %}

{% load static %}
{% block content %}
<form action="{% url 'nube:create' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
  <!-- todo: maybe add some radiobutton to distinguish-->
  <div class="form-group">
    <label for="uri">Generate a Word Cloud:</label>
    <input type="text" class="form-control" autofocus id="uri" name="uri" placeholder="Enter the URL of a plaintext file...">
  </div>
  <div class="form-group">
    <input type="file" class="form-control-file" name="myfile"
    aria-describedby="fileHelp">
    <small id="fileHelp" class="form-text text-muted">...or you can select a file from your computer</small>
  </div>
  <!--must be outside form-group so it's not sticking to the form"-->
  <input type="submit" class="btn btn-success btn-lg" id="btn-create" value="Create Word Cloud"/>
  <img src="{% static 'nube/loading.svg' %}" height="50" id="spinner" style="display: none;"/>
</form>
<div class="async-result">

</div>
{% endblock content %}

{% block javascript %}
<script type="text/javascript">
  status = "ready"
  btn = $('#btn-create')
  $('form').on('submit',function(){
    // if it's already working on a request we don't allow anymore
    // which means we support one request at a time per client
    if(status != 'ready') { return false }
    status = "Working..."
    btn.attr('disabled', true)
    btn.attr('value', status)
    $('#spinner').show()
    $('div.async-result').html('')
   $.ajax({
      url: '{% url 'nube:create' %}',
      type: 'POST',
      data: {
        'uri': $('#uri').val(),
        'csrfmiddlewaretoken': csrftoken ,
      },
      dataType: 'json',
      success: function (data) {
          // display the generated image at the end of the page
          var tmp_html = `
            {% with img_filename='PLACEHOLDER' %}
            {% include "nube/subdetail.html" %}
            {% include "nube/save_img.html" %}
            {% endwith %}
          `;
          // since templates are generated server-side and we don't know
          // what will be the filename of the generated image, we use this hack
          // RegExp is used in order to replace ALL matches
          var html = tmp_html.replace(new RegExp('PLACEHOLDER', 'g'), data.img_filename)
          $('div.async-result').html(html)
          status = "ready"
          btn.attr('disabled', false)
          btn.attr('value', 'Create Word Cloud')
          $('#spinner').hide()
        }
      });
     //prevents submit
     return false;
  });
</script>
{% endblock javascript %}
